@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="text-align: center">
    <h1>Welcome to Shoutout</h1>
    <p class="lead">An employee recognition program made by Provalus</p>
    <p><a class="btn btn-default" href="~/Home/Feed">Employee Shoutouts</a></p>
</div>